<div fxLayout="row" fxLayoutAlign="space-around start" class="footer-container">

    <div fxFlex="22">
        <h4>Institucional</h4>
        <div fxLayout="column" fxLayoutAlign="space-around flex-start">
            <button mat-button color="basic" *ngFor="let inst of institucional">
                {{inst}}
            </button>
        </div>
    </div>
    <div fxFlex="22">
        <h4>Dúvidas</h4>
        <div fxLayout="column" fxLayoutAlign="space-around flex-start">
            <button mat-button color="basic" *ngFor="let duv of duvidas">
                {{duv}}
            </button>
        </div>
    </div>
    <div fxFlex="22">
        <h4>Canais de contato</h4>
        <div fxLayout="column" fxLayoutAlign="space-around flex-start">
            <button mat-button color="basic" *ngFor="let canal of canais">
                {{canal}}
            </button>
        </div>
    </div>
    <div fxFlex="22">
        <h4>Segurança nas compras</h4>
        <div fxLayout="column" fxLayoutAlign="space-around flex-start">
            <button mat-button color="basic" *ngFor="let seg of seguranca">
                {{seg}}
            </button>
        </div>
    </div>
    <div fxFlex="12">
        <h4>Redes sociais</h4>
        <div fxLayout="column" fxLayoutAlign="space-around flex-start">
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <div>
                    <i class="fab fa-instagram social-icon"></i>
                </div>
                <div>
                    <i class="fab fa-facebook-square social-icon"></i>
                </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <div>
                    <i class="fab fa-twitter social-icon"></i>
                </div>
                <div>
                    <i class="fab fa-youtube social-icon"></i>
                </div>
            </div>
        </div>
    </div>

<!-- 
    <div>
        <h4> Lista 1 </h4>
        <div fxLayout="column" fxLayoutAlign="space-around flex-start">

        </div>


        <ul>
            <li><button mat-button color="basic">Texto 1</button></li>
            <li><button mat-button color="basic">Texto 1</button></li>
            <li><button mat-button color="basic">Texto 1</button></li>
            <li><button mat-button color="basic">Texto 1</button></li>
        </ul>
    </div>

    <div>
        <h4> Lista 2 </h4>
        <ul>
            <li><button mat-button color="basic">Texto 1</button></li>
            <li><button mat-button color="basic">Texto 1</button></li>
            <li><button mat-button color="basic">Texto 1</button></li>
            <li><button mat-button color="basic">Texto 1</button></li>
        </ul>
    </div>

    <div>
        <h4> Lista 3 </h4>
        <ul>
            <li><button mat-button color="basic">Texto 1</button></li>
            <li><button mat-button color="basic">Texto 1</button></li>
            <li><button mat-button color="basic">Texto 1</button></li>
            <li><button mat-button color="basic">Texto 1</button></li>
        </ul>
    </div>

    <div>
        <h4> Lista 4 </h4>
        <ul>
            <li><i class="fab fa-instagram"></i></li>
            <li><i class="fab fa-facebook-square"></i></li>
            <li><i class="fab fa-twitter"></i></li>
            <li><i class="fab fa-youtube"></i></li>
        </ul>
    </div> -->

</div>



<!-- 

 fxFlexFill color="primary">
    <button mat-button color="basic">
        <mat-icon aria-hidden="false">login</mat-icon>
        Login / Cadastre-se
    </button>
    <button mat-button color="basic">
        <mat-icon aria-hidden="false">account_circle</mat-icon>
        Área do Cliente
    </button>
    <button mat-button color="basic">
        <mat-icon aria-hidden="false">shopping_cart</mat-icon>
        Carrinho de Compras
    </button>
    <button mat-button color="basic">
        <mat-icon aria-hidden="false">headset_mic</mat-icon>
        Fale Conosco
    </button>
    <button mat-button color="basic">
        <mat-icon aria-hidden="false">home</mat-icon>
        Sobre a Empresa
    </button>
</mat-toolbar>

-->