.produto-card {
  width: 250px;
  max-width: 250px;
  cursor: pointer;
  padding: 5px !important;
}

.title-rate-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.estrelas-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.card-avatar {
  border-radius: 5px;
}

.card-produto-title {
  font-size: 1.0rem;
  font-weight: 400;
  height: 30px;
  min-height: 30px;
}
.card-header-container {
  margin-bottom: 0px;
}
