<mat-selection-list [multiple]="false">
  <div fxLayout="column" fxLayoutAlign="flex-start flex-start" style="width: 100%;">

    <!-- Quem somos -->
    <mat-list-option class="sobre-side-link" selected="true">
      <span class="sobre-item"><mat-icon style="margin-right: 10px;">store_mall_directory</mat-icon>Quem somos</span>
    </mat-list-option>

    <!-- Políticas do site -->
    <mat-list-option class="sobre-side-link">
      <span class="sobre-item"><mat-icon style="margin-right: 10px;">text_snippet</mat-icon>Políticas do site</span>
    </mat-list-option>

    <!-- Políticas de privacidade -->
    <mat-list-option class="sobre-side-link">
      <span class="sobre-item"><mat-icon style="margin-right: 10px;">privacy_tip</mat-icon>Políticas de privacidade</span>
    </mat-list-option>
  </div>
</mat-selection-list>
