<div fxLayout="column" fxLayoutAlign="space-around center" class="produto-main-container">
  <div class="produto-title-container">
    <span class="produto-title">Visualização do produto: {{produto.nome}}</span>
  </div>

  <!-- Galeria e resumo -->
  <div fxFlex="100" class="produto-imagem-resumo">
    <div class="produto-galeria">
      <ngx-gallery [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery"></ngx-gallery>
    </div>
    <div class="produto-resumo">
      <app-card-resumo [nome]="produto.nome" [imgUrl]="produto.imgUrl" [rate]="produto.rate"
        [precoNormal]="produto.precoNormal" [precoPromo]="produto.precoPromo" style="width: 100%;">
      </app-card-resumo>
    </div>
  </div>

  <!-- Descrição do produto -->
  <div fxFlex="100" style="width: 100%;">
    <mat-card class="produto-descricao">
      <mat-card-header>
        <mat-card-title>Descrição do produto</mat-card-title>
      </mat-card-header>
      <mat-card-content class="descricao-texto">
        <p class="descricao-text-paragrafo">
          Esse processador é a aguardada revisão do raise 5 3600. Fabricado na impressionante litografia de 5 nm ao invés de
          14, ou seja, é essencialmente um glorioso raise 5 2600 ultra melhorado e mega tunado com tecnologia do futuro. Ele possui
          o "AF" em seu código de produto que significa <em>After Future</em> (Após o futuro). Quando comparado ao
          antigo raise 5 "AE", possui boosts absurdamente altos que farão sua casa tremer (em média 300mhz de boost),
          melhor eficiência energética e maior capacidade de overclock, alcançando facilmente a velocidade de 12GHz
          gerando calor suficiente para estourar uma pipoquinha ou assar um pão.
        </p>

        <p class="descricao-text-paragrafo">
          Este novo processador é uma excelente opção para quem está montando seu pc "gamer" peça por peça, ainda mais
          em um orçamento mais limitado, pois essa série de processadores (raise 5 3000) possui uma placa gráfica
          fabricada com silício lunar de ultra resistência e condutividade, possibilitando que os zeros e uns sejam mais
          rápidos do que a órbita de um elétron em torno do núcleo, ultrapassando a computação quântica. Tudo isso para
          que você possa jogar Battlefield V a incríveis 254 FPS com os gráficos no máximo!
          Se você quer fazer seus adversários comer pó enquanto nunca vão saber de onde veio o headshot, esse
          processador é o que faltava no seu set. Com ele, você estará embarcando no futuro da computação!
        </p>
      </mat-card-content>
    </mat-card>
  </div>

  <!-- Especificação do produto -->
  <div fxFlex="100" style="width: 100%;">
    <mat-card class="produto-descricao">
      <mat-card-header>
        <mat-card-title>Especificação do produto</mat-card-title>
      </mat-card-header>
      <mat-card-content class="descricao-texto">

        <!-- Características -->
        <h4 class="produto-specs-subtitulo">Características:</h4>
        <ul class="produto-lista-specs">
          <li>Marca: <span class="produto-item-destaque">ANT</span></li>
          <li>Modelo: <span class="produto-item-destaque">YD1600BBAFBOX</span></li>
        </ul>

        <!-- Especificações -->
        <h4 class="produto-specs-subtitulo">Especificações:</h4>
        <ul class="produto-lista-specs">
          <li>Série: <span class="produto-item-destaque">Raise 5 (3000)</span></li>
          <li>Processo de fabricação: <span class="produto-item-destaque">5 nm</span></li>
          <li>Socket: <span class="produto-item-destaque">AnTiger 9000</span></li>
          <li>Núcleos: <span class="produto-item-destaque">12</span></li>
          <li>Threads <span class="produto-item-destaque">36</span></li>
          <li>Clock: <span class="produto-item-destaque">4GHz (Turbo 5.3GHz e Overclock 12GHz)</span></li>
          <li>Cache L3: <span class="produto-item-destaque"> 128MB</span></li>
          <li>Cache L2 <span class="produto-item-destaque">32MB</span></li>
          <li>Potência: <span class="produto-item-destaque">10W</span></li>
        </ul>

        <!-- Conteúdo da embalagem -->
        <h4 class="produto-specs-subtitulo">Conteúdo da embalagem:</h4>
        <ul class="produto-lista-specs">
          <li>01 Processador ANT Raise 5</li>
          <li>01 Cooler Ultra Blaster Freebox Intercooler Darkside of The moon Vin Diesel</li>
          <li>01 Action Figure do Goku do Dragon Ball Z</li>
        </ul>
      </mat-card-content>
    </mat-card>
  </div>

  <!-- Avaliações-->
  <div fxFlex="100" style="width: 100%;">
    <mat-card class="produto-descricao">
      <mat-card-header>
        <mat-card-title>Últimas avaliações</mat-card-title>
      </mat-card-header>
      <mat-card-content class="descricao-texto">

        <!-- Cards das avaliações -->
        <div class="produto-cards-avaliação">

          <mat-card class="card-avaliação">
            <div fxLayout="row" fxLayoutAlign="space-around center" style="width: 100%;">
              <div fxFlex="50">
                <div class="estrelas-container">
                  <span *ngFor="let estrelaPreenchida of getEstrelasPreenchidas()">
                    <mat-icon aria-hidden="false" [ngStyle]="{'color': 'gold', 'font-size': '1.2rem'}">star</mat-icon>
                  </span>
                </div>
              </div>
              <div fxFlex="50" class="produto-avaliacao-nome">
                Josnei
              </div>
            </div>
            <div style="width: 100%;">
              <p class="produto-texto-avaliacao">
                Esse é o melhor produto que eu já comprei na minha vida. Tudo agora faz sentido. Eu não conseguiria
                sonhar com tamanho desempenho que esse processador oferece. Além disso a compra foi muito tranquila!
              </p>
            </div>
          </mat-card>

          <mat-card class="card-avaliação">
            <div fxLayout="row" fxLayoutAlign="space-around center" style="width: 100%;">
              <div fxFlex="50">
                <div class="estrelas-container">
                  <span *ngFor="let estrelaPreenchida of getEstrelasPreenchidas()">
                    <mat-icon aria-hidden="false" [ngStyle]="{'color': 'gold', 'font-size': '1.2rem'}">star</mat-icon>
                  </span>
                </div>
              </div>
              <div fxFlex="50" class="produto-avaliacao-nome">
                GibaG4mer
              </div>
            </div>
            <div style="width: 100%;">
              <p class="produto-texto-avaliacao">
                Excelente produto! Muita qualidade mesmo, estou muito supreendido e feliz! Valeu equipe KaPoow!
              </p>
            </div>
          </mat-card>

          <mat-card class="card-avaliação">
            <div fxLayout="row" fxLayoutAlign="space-around center" style="width: 100%;">
              <div fxFlex="50">
                <div class="estrelas-container">
                  <span *ngFor="let estrelaPreenchida of getEstrelasPreenchidas()">
                    <mat-icon aria-hidden="false" [ngStyle]="{'color': 'gold', 'font-size': '1.2rem'}">star</mat-icon>
                  </span>
                </div>
              </div>
              <div fxFlex="50" class="produto-avaliacao-nome">
                Antonia Z. K.
              </div>
            </div>
            <div style="width: 100%;">
              <p class="produto-texto-avaliacao">
                Desempenho inacreditável! Consigo renderizar filmes 8K de 3 horas de duração em apenas 4 minutos
                enquanto jogo GTA V. O mundo é um lugar melhor com esse processador
              </p>
            </div>
          </mat-card>
          
          <mat-card class="card-avaliação">
            <div fxLayout="row" fxLayoutAlign="space-around center" style="width: 100%;">
              <div fxFlex="50">
                <div class="estrelas-container">
                  <span *ngFor="let estrelaPreenchida of getEstrelasPreenchidas()">
                    <mat-icon aria-hidden="false" [ngStyle]="{'color': 'gold', 'font-size': '1.2rem'}">star</mat-icon>
                  </span>
                </div>
              </div>
              <div fxFlex="50" class="produto-avaliacao-nome">
                Javier
              </div>
            </div>
            <div style="width: 100%;">
              <p class="produto-texto-avaliacao">
                Muito bom! Sem defeitos. Perfeito e maravilhoso!
              </p>
            </div>
          </mat-card>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

</div>