<div fxLayout="column" fxLayoutAlign="flex-start flex-start" style="width: 100%;">

  <!-- Título Canais de contato -->
  <div style="width: 100%; display: flex; justify-content: center; margin-bottom: 25px;">
    <h4 matSubheader class="title-contato-side"><mat-icon style="margin-right: 10px;">connect_without_contact</mat-icon>Canais de contato</h4>
  </div>

  <!-- Telefone -->
  <div class="contato-chave-valor-container">
    <div class="contato-valor-container" style="margin-left: 5px;">
      Telefone:
    </div>
    <div class="contato-valor-container">
      (41) 3987-2022
    </div>
  </div>

  <!-- Link do chat -->
  <div class="contato-chave-valor-container">
    <div class="contato-valor-full-container">
      <div>
        <button mat-button color="basic">Chat <mat-icon style="margin-left: 10px;">chat</mat-icon></button><br/>
      </div>
      <div>
        <span style="font-size: 0.6rem;">Disponível de segunda a sexta das 8h às 18h</span>
      </div>
    </div>
  </div>
  
  <!-- Dúvidas -->
  <div class="contato-chave-valor-container">
    <div class="contato-valor-column-container">
      <div style="margin-bottom: 20px;">
      <span style="font-size: 1.1rem; font-weight: 300;"><mat-icon style="margin-right: 10px;">contact_support</mat-icon>Dúvidas</span>
    </div>
    <div style="margin-bottom: 5px;">
      <button mat-button color="basic">FAQ</button>
    </div>
    <div style="margin-bottom: 5px;">
      <button mat-button color="basic">Como comprar</button>
    </div>
    <div style="margin-bottom: 5px;">
      <button mat-button color="basic">Formas de pagamento</button>
    </div>
    </div>
  </div>
</div>
